[{kernel,
  [{distributed, [{erldemo, % AppName
    5000,    % TimeOutBeforeRestart
    [demo1@jaguar, demo2@jaguar, demo3@jaguar]}]}, % NodeList
    {sync_nodes_mandatory, []}, % NecessaryNodes
    {sync_nodes_optional, [demo1@jaguar, demo2@jaguar]}, % Optional Nodes
    {sync_nodes_timeout, 3000} % MaxTime
  ]},
  %% SASL config
  {sasl, [
    {sasl_error_logger, {file, "log/sasl-error.log"}},
    {errlog_type, error},
    {error_logger_mf_dir, "log/sasl"},      % Log directory
    {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
    {error_logger_mf_maxfiles, 5}           % 5 files max
  ]}].