[{kernel,
  [{distributed, [{erldemo, % App Name
                   5000,    % Time Out Before Restart
                   [demo1@jaguar, demo2@jaguar, demo3@jaguar]}]}, % Node List
    {start_dist_ac, true},
   {sync_nodes_mandatory, []}, % Necessary Nodes - stop if not connected
   {sync_nodes_optional, [demo3@jaguar, demo2@jaguar]}, % Optional Nodes
   {sync_nodes_timeout, 3000} % Max Time
  ]},
  %% SASL config
  {sasl, [
    {sasl_error_logger, {file, "log/sasl-error.log"}},
    {errlog_type, error},
    {error_logger_mf_dir, "log/sasl"},      % Log directory
    {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
    {error_logger_mf_maxfiles, 5}           % 5 files max
  ]}
].